header {
	margin: 0 auto;
	background: #FFF;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 85%;
	height: 60px;
	// box-shadow: 0px 2px 5px #CCC;
	.container-header {
		margin: 0 auto;
		width: 88%;
		position: relative;
	}
}

.logo {
	position: absolute;
	top: -15px;
	left: 0;
	float: left;
	a {
		font-size: 28px;
		font-weight: 300;
	}
}

#menu-header-menu {
	position: absolute;
	top: 21px;
	right: -18px;
	float: right;
}